# TODO: figure out what can be pushed

# General
.env
!env.example

# traefik/
/traefik/data/*
/traefik/data/traefik.yml
/traefik/data/config.yml

# vaultwarden/
/vaultwarden/docker-compose.yml
/vaultwarden/data/*

# qbittorrent-gluetun/
/qbittorrent-gluetun/config/*
/qbittorrent-gluetun/data/*
/qbittorrent-gluetun/theme/*

# fabricmc-server/
/fabricmc-server/data/SP/*

# homeassistant/
/homeassistant/config/*
!/homeassistant/config/configuration.yaml
!/homeassistant/config/automations.yaml

# searxng/
/searxng/config/*
/searxng/data/*
# TODO: actually figure out what can be pushed

# uptimekuma/
/uptimekuma/data/*

# wgeasy-pihole-unbound/
/wgeasy-pihole-unbound/config

# cloudflare-ddns/
/cloudflare-ddns/config/config.json

# vscodium/
/vscodium/config